<div class="container">
  <form action="mailto:jameskwnn@gmail.com" method="post" enctype="text/plain">

    <div class="row">
      <div class="column_contact_left">
        <label for="name">Full Name (Required)</label>
        <input type="text" id="name" name="fullname" placeholder="Your full name..."><br>
      </div>
      <div class="column_contact_right">
        <label for="email">Email (Required)</label>
        <input type="text" id="email" name="email" placeholder="Your email..."><br>
      </div>
    </div>

    <label for="subject">Subject</label>
    <input type="text" id="subject" name="subject" placeholder="Subject of your email..."><br>

    <label for="message">Message</label>
    <textarea id="message" name="message" placeholder="The contents of your email..." style="height:200px"></textarea><br>

    <input type="submit" value="Submit">

  </form>
</div>