<div class="footer-basic">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

    <footer>
        <div class="social">
            <a target="_blank" href="https://www.instagram.com/james_kwn/"><i class="icon ion-social-instagram"></i></a>
            <a target="_blank" href="https://www.linkedin.com/in/jameskwnn/"><i class="icon ion-social-linkedin"></i></a>
            <a target="_blank" href="https://github.com/jameskaewanan"><i class="icon ion-social-github"></i></a>
            <a target="_blank" href="https://www.youtube.com/channel/UCG_k5n_DKJB8iItKeY6h-lQ"><i class="icon ion-social-youtube"></i></a>

            <ul class="row_footer" style="justify-content: center">
                <li><a href="../index">Home</a></li>
                <li><a href="../projects">Projects</a></li>
                <li><a href="../about">About Me</a></li>
                <li><a href="../contact">Contact</a></li>
                <li><a href="#"></a></li>

            </ul>
        </div>
        <p class="copyright">Designed and Developed by James Kaewanan</p>
    </footer>
</div>

<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ '/assets/js/sweet-scroll.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/main.js' | prepend: site.baseurl }}"></script>
