<!-- Load an icon library to show a hamburger menu (bars) on small screens -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="navbar">
  <a href="../contact"><i class="fa fa-fw fa-envelope"></i> Contact</a>
  <a href="../about"><i class="fa fa-fw fa-user"></i> About Me</a>
  <a href="../projects"><i class="fa fa-fw fa-folder"></i> Projects</a>
  <a href="../index"><i class="fa fa-fw fa-home"></i> Home</a>
  <div class="navbar_left">
    <a href="../index"><i class="navbar_left" ></i> JAMES KAEWANAN</a>
  </div>
</div>





