<body>
    <div class="row_skills">
        <div class="column_skills">
            <div class="card_skills" style="background-image: url('../assets/images/skill_cards/coding.png')"></div>
        </div>
        <div class="column_skills">
            <div class="card_skills" style="background-image: url('../assets/images/skill_cards/full-stack.png')"></div>
        </div>
        <div class="column_skills">
            <div class="card_skills" style="background-image: url('../assets/images/skill_cards/tools.png')"></div>
        </div>
        <div class="column_skills">
            <div class="card_skills" style="background-image: url('../assets/images/skill_cards/soft_skills.png')"></div>
        </div>
    </div>
</body>
