#about {
  font-size: 120%;

  width: 100%;
  margin: 0 auto;
  max-width: 1400px;
  @media only screen and (min-width: $cut) {
    width: 80%;
  }
  svg {
    width: 60px !important;
    height: auto;
  }
}


.user {
  text-align: center;
  font-size: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  p {
    font-size: 16px;
  }
  @media only screen and (min-width: $cut) {
    flex-wrap: nowrap;
    font-size: 75px;
  }
}

.pfp {
  margin: auto 50px auto auto;
  width: auto;
  height: 500px;
  border-radius: 50%;
}

.column_about {
}

.row_about {
  display: flex;
  padding-top: 80px;
  flex-direction: row;
}

.button {
  border-radius: 20px;
  background-color: #555;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 15px;
  max-width: 400px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 20px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover {
  background-color: $main;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.button a {
  color: white;
}

.text {
  text-align: center;
  margin: 5px auto 50px;
  font-size: 120%;
  max-width: 80%;

}

@media ( max-width: 1350px ) {
  .row_about {
    flex-direction: column;
  }
  .column_about {
    justify-content: center;
    text-align: center;
  }
  .pfp {
    margin: auto;
  }
}


