/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  border-radius: 30px;
  background-color: #555;
  border: none;
  color: #FFFFFF;
  font-size: 20px;
  padding: 15px;
  max-width: 200px;
  width: 100%;
  transition: all 0.5s;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: $main;
}

/* Add a background color and some padding around the form */
.container {
  padding-bottom: 60px;
  border-radius: 20px;
  background-color: #FFFFFF;
  margin: 0 auto 0 auto;
  max-width: 1000px;
  width: 100%;
  @media only screen and (min-width: $cut) {
    width: 80%;
  }
}

.text_contact{
  text-align: center;
  margin: 5px auto 50px;
  font-size: 120%;
  max-width: 100%;
  width: auto;
  @media only screen and (min-width: $cut) {
    width: 80%;
  }
}


.column_contact_left {
  width: 50%;
  padding-right: 30px;
}

.column_contact_right {
  width: 50%;
  padding-left: 30px;
}
