<!DOCTYPE html>
<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}"><html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>

    {% include head.html %}

    {% include navbar.html %}

    <body>
        {% include header.html %}

        <section id="about">
            <h1 style="text-align:center; padding-top: 100px">Hi I'm James. Nice To Meet You</h1>
            {% include about.html %}
        </section>

        <img class="img_card" src="../assets/images/temp_card1.jpeg">

        <h1 style="text-align: center;">My Projects</h1>
        <p class="text">
            Here are a few projects I am most proud of. These do not only contain my computer science projects but rather, these projects encompasses my various interests and showcases my varied skill-sets.
        </p>

        <section id="projects">

            <div class="row_project">
                <div class="column_project">
                    <div class='card' style="background-image: url('../assets/images/temp_card1.jpeg')">
                        <div class='info'>
                            <h1 class='title'>Title</h1>
                            <p class='description'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius esse corporis, velit porro impedit laudantium accusamus! Id velit, illum magni rem mollitia blanditiis iste maiores optio ipsa, est dolorem fugit.</p>
                        </div>
                    </div>
                </div>

                <div class="column_project">
                    <div class='card' style="background-image: url('../assets/images/temp_card2.jpeg')">
                        <div class='info'>
                            <h1 class='title'>Title</h1>
                            <p class='description'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius esse corporis, velit porro impedit laudantium accusamus! Id velit, illum magni rem mollitia blanditiis iste maiores optio ipsa, est dolorem fugit.</p>
                        </div>
                    </div>
                </div>

                <div class="column_project">
                    <div class='card' style="background-image: url('../assets/images/temp_card3.png')">
                        <div class='info'>
                            <h1 class='title'>Title</h1>
                            <p class='description'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius esse corporis, velit porro impedit laudantium accusamus! Id velit, illum magni rem mollitia blanditiis iste maiores optio ipsa, est dolorem fugit.</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row_project">
                <div class="column_project">
                    <div class='card' style="background-image: url('../assets/images/temp_card1.jpeg')">
                        <div class='info'>
                            <h1 class='title'>Title</h1>
                            <p class='description'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius esse corporis, velit porro impedit laudantium accusamus! Id velit, illum magni rem mollitia blanditiis iste maiores optio ipsa, est dolorem fugit.</p>
                        </div>
                    </div>
                </div>

                <div class="column_project">
                    <div class='card' style="background-image: url('../assets/images/temp_card2.jpeg')">
                        <div class='info'>
                            <h1 class='title'>Title</h1>
                            <p class='description'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius esse corporis, velit porro impedit laudantium accusamus! Id velit, illum magni rem mollitia blanditiis iste maiores optio ipsa, est dolorem fugit.</p>
                        </div>
                    </div>
                </div>

                <div class="column_project">
                    <div class='card' style="background-image: url('../assets/images/temp_card3.png')">
                        <div class='info'>
                            <h1 class='title'>Title</h1>
                            <p class='description'>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius esse corporis, velit porro impedit laudantium accusamus! Id velit, illum magni rem mollitia blanditiis iste maiores optio ipsa, est dolorem fugit.</p>
                        </div>
                    </div>
                </div>

            </div>

        </section>

        <div class="vertical-center">
            <a href="../projects.html">
                <button class="button">
                    <span>Want To See More Projects? </span>
                </button>
            </a>
        </div>

        <img class="img_card" src="../assets/images/temp_card1.jpeg">

        <h1 style="text-align: center;">Get In Touch</h1>
        <p class="text">
            If you would like to contact me for business or to inquire about anything then please reach out by Email.
        </p>

        {% include contact.html %}
        {% include footer.html %}

    </body>
</html>

<style>

    .vertical-center {
        text-align: center;
        justify-content: center;
        margin-top: 20px;
        position: relative;
    }

    .img_card {
        display: block;
        margin: 70px auto 0 auto;
        width: 85%;
        height: 350px;
        border-radius: 25px;
        box-shadow: 0px 3px 5px -1px;
    }


</style>